@use '../variables'

header
    position: fixed
    background-color: variables.$primaryCHover
    width: 100%
    z-index: 999

    .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 0px
        font-family: variables.$font-inter-bold
            
        .pLogo
            font-size: 25px
            transition: .2s

            &:hover
                cursor: pointer
                color: variables.$cOrange-Hover

            &:hover .backHover
                margin-left: 2px
                visibility: visible

            .backHover
                margin-left: 1px
                font-size: 15px
                font-family: variables.$font-inter-medium
                transition: .4s
                visibility: hidden
                margin-left: 11px

        nav
            font-size: 15px

            .colorOrange
                margin-right: 3px

            ul li
                display: inline-flex
                margin-left: 25px

                &:hover
                    cursor: pointer

                &:hover .itemNav
                    color: variables.$cOrange

                .itemNav
                    transition: .2s
