@use '../variables'

h2
    color: variables.$cWhite
    font-size: 20px
    font-family: variables.$font-inter-bold

h3
    color: variables.$cOrange
    margin-bottom: 5px
    font-size: 12px
    font-family: variables.$font-jetbrains


section#welcome
    padding-top: 150px
    padding-bottom: 80px
    width: 100%

    .flex
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    .photoSize
        width: 150px
        height: 150px
        border-radius: 50%
        margin: 0 auto

    .pHi
        font-family: variables.$font-inter-regular
        font-size: 25px
        margin: 5px 0px

        span
            color: variables.$cOrange
            font-family: variables.$font-inter-bold

    .p2
        font-size: 20px
        font-family: variables.$font-inter-regular
        margin-bottom: 5px
    
    .p3
        font-size: 14px
        font-family: variables.$font-inter-regular
        margin: 10px 0px
        color: variables.$cTxt

    button
        margin: 10px 0px
        border: none
        color: variables.$cOrange
        border: 2px solid variables.$cOrange
        border-radius: 5px
        padding: 8px 10px
        font-family: variables.$font-inter-regular
        transition: .2s
        background-color: #ffffff00

        &:hover
            cursor: pointer
            color: variables.$cOrange-Hover
            border: 2px solid variables.$cOrange-Hover

section#numberInfo
    display: flex

    .flex
        display: flex
        justify-content: space-between
        align-items: center

        .numberInfoSize
            display: flex
            align-items: center
            gap: 10px
            transition: .2s

            &:hover
                cursor: pointer

            &:hover .number
                color: variables.$cOrange

            &:hover .codeTxt
                color: variables.$cOrange-Hover

        .number
            color: variables.$cWhite
            font-family: variables.$font-inter-bold
            font-size: 35px
            transition: .2s

        .codeTxt
            color: variables.$cTxt
            font-family: variables.$font-inter-regular
            transition: .2s

.lineSection
    width: 100%
    height: 3px
    background-color: variables.$cBorder
    margin: 20px 0px

section#aboutMe, section#tech, section#blog, section#projects, section#contact
    margin: 150px 0px

    .cardIconSize
        background-color: variables.$primaryCHover
        border: 2px solid variables.$cBorder
        padding: 10px 15px
        border-radius: 5px
        display: inline-flex
        align-items: center
        margin: 0px 10px
        transition: .2s

    .scroll
        margin-top: 20px
        position: relative
        display: flex
        overflow: hidden

    .scroll div
        white-space: nowrap
        animation: scrollAnimation 60s linear infinite
        animation-delay: calc( 60s * -1 )

    .scroll div:nth-child(2)
        animation: scrollAnimation2 60s linear infinite
        animation-delay: calc( 60s / -2 )

    @keyframes scrollAnimation
        0%
            transform: translateX(100%)
        100%
            transform: translateX(-100%)

    @keyframes scrollAnimation2
        0%
            transform: translateX(0)
        100%
            transform: translateX(-200%)

    .pTxtTec
        color: variables.$cTxt
        font-family: variables.$font-inter-regular
        font-size: 12px
        margin-left: 10px

section#blog
    .lineBlog
        display: flex
        gap: 40px
        margin: 20px 0px
        flex-wrap: wrap
        justify-content: space-between

    .lineBtn
        margin-top: 10px
        
    
    .blogCard
        border: 2px solid variables.$cBorder
        background-color: variables.$primaryCHover
        border-radius: 5px
        width: calc( 50% - 50px )
        padding: 10px
        position: relative
        transition: .2s

        &:hover
            cursor: pointer
            border: 2px solid variables.$cBorder-Hover
        
    .imgBlogSize
        background-color: #2b2b2b
        width: 40px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 5px
        position: absolute
        top: 10px
        left: 10px

    .titleBlog
        margin-left: 50px
        color: variables.$cWhite
        font-family: variables.$font-inter-medium

    .postBlog
        font-size: 14px
        margin-left: 50px
        margin-top: 4px
        font-family: variables.$font-inter-regular
        color: variables.$cTxt

    .aboutTxtBlog
        color: variables.$cTxt
        font-family: variables.$font-inter-regular
        font-size: 14px
        text-align: justify

    .pTime
        display: flex
        align-items: center
        font-family: variables.$font-inter-regular
        gap: 5px
        font-size: 14px
        color: variables.$cOrange
        margin-top: 10px

section#projects
    .cardProject
        width: 100%
        padding: 20px
        border-radius: 5px
        transition: .2s
        display: flex
        gap: 20px
        border: 2px solid variables.$cBorder
        background-color: variables.$primaryCHover

        &:hover
            cursor: pointer
            border: 2px solid variables.$cBorder-Hover

        .cardPhoto
            width: 450px
            height: 250px
            border-radius: 5px

            .txtNew
                position: absolute
                background-color: variables.$cGreen
                padding: 5px 8px
                border-radius: 5px
                display: flex
                align-items: center

                p
                    font-size: 12px
                    color: variables.$cWhite
                    font-family: variables.$font-inter-medium

        .txtProject
            display: flex
            flex-direction: column
            justify-content: space-between

        .titleSize
            display: flex
            gap: 10px
            align-items: center

            .logoProjectCard
                width: 50px
                height: 50px
                border-radius: 5px
                display: flex
                justify-content: center
                align-items: center
                background-color: #2b2b2b

            p
                color: variables.$cWhite
                font-family: variables.$font-inter-medium

        .aboutTxt       
            font-family: variables.$font-inter-regular
            color: variables.$cTxt
            font-size: 14px
            width: 500px
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
            text-align: justify
            overflow: hidden

        .techUsed
            color: variables.$cWhite
            font-family: variables.$font-inter-regular
            font-size: 12px
            margin-bottom: 10px

        .lineTech
            display: inline-flex

            .cardTech
                background-color: variables.$primaryCHover
                border: 2px solid variables.$cBorder
                border-radius: 5px
                padding: 5px 8px
                margin-right: 10px

                p
                    font-family: variables.$font-inter-regular
                    font-size: 12px
                    color: variables.$cTxt

        .code
            width: 30px
            height: 30px
            fill: variables.$cOrange

        .dev
            background-color: #363636
            display: flex
            align-items: center
            justify-content: center
            font-size: 50px


.lineBtn
    display: flex
    gap: 20px

    button
        background-color: variables.$primaryBG
        border: 2px solid variables.$cOrange
        border-radius: 5px
        padding: 8px 10px
        font-family: variables.$font-inter-medium
        font-size: 14px
        color: variables.$cOrange
        display: flex
        align-items: center
        gap: 8px
        transition: .2s

        &:hover
            cursor: pointer
            background-color: variables.$cOrange
            color: variables.$primaryBG

        &:hover .iconBtn
            fill: variables.$primaryBG
        .iconBtn
            fill: variables.$cOrange
            font-size: 20px
            transition: .2s

                    
