.backgroundDesktop{
    background-image: url(../../img/background-desktop.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.backgroundDesktop:hover{
    background-image: url(../../img/background-desktop-hover.png);
}


.windows:hover .backgroundDesktop{
    background-image: url(../../img/background-desktop-hover.png);
}

.backgroundLockScreen{
    background-image: url(../../img/background-lockscreen.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: .4s;
}

.backgroundLockScreen:hover{
    background-image: url(../../img/background-lockscreen-hover.png);
}

.backgroundErroPage{
    background-image: url(../../img/background-errorpage.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


